<a href="https://colab.research.google.com/github/yeeejeong/tutorial/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np #긴 numpy를 np로 줄여서 사용하겠다.
import torch
import math

In [3]:
print(np.random.randn(5,3)) #난수 생성하였다. 5행 3열 배열을 말이다.

[[ 0.37099922  0.74253212 -2.17677854]
 [ 0.0296855   0.96210783 -0.47711283]
 [ 0.64920576  1.70436098 -1.68013791]
 [ 2.17061794  1.33131742  0.55081703]
 [-0.33165405 -0.56605526  0.60163987]]

In [4]:
print(torch.randn(5,4)) #tensor로 선언 할 수있다. 위에는 numpy로 선언한 것이다.

tensor([[-1.0708,  0.8521,  1.1806,  0.5608],
        [ 1.7013, -0.6404, -0.2128, -1.8073],
        [-1.9964,  0.3411,  1.4801,  0.6880],
        [ 0.8165,  1.1021,  0.6749, -0.2592],
        [ 0.1626, -1.0602,  0.5754,  1.0080]])

In [5]:
print(math.sqrt(2)) #math 라이브러 안의 함수를 사용하므로 도트(.)로 접근한다.

1.4142135623730951

In [9]:
num = 3 #자료형을 선언하지 않고 값을 할당 하여도 괜찮다.
print(num) 
print(type(num))

num2 = 2
print(num2)
print(type(num2))

3
<class 'int'>
2
<class 'int'>

In [13]:
string1 = 'Hello world' # 문자열을 사용 할때 작은 따옴표를 사용하든 큰 따옴표를 사용하든 상관 없다.
print(string1)

string5 = """hello \nworld5""" 
print(string5)

Hello world
hello
 world5

In [23]:
a = [1,2,3,['a','b']]#대괄호로 되어 있는 것은 List 자료형이다. 리스트는 편집 가능, 튜플은 편집 불가능.
print( a[3][1] ) # print로 묶어주면 작은 따옴표가 사라져서 a 나온다 큰 따옴표로 묶으면 'a'가 나온다.

b

In [24]:
a = [1,2,3,4,5,6,7] #배열상 2번째부터 배열상 5 번째 이전까지 출력한다,.
print(a[2:5])

[3, 4, 5]

In [26]:
a = [1,2,3,4,5,6,7] 
int(a[-5]) # ???????????

3

In [29]:
a = [1,2,3]
b = ['4', '5', '6']
print(a+b) # 리스트를 이어 붙인다.
print(a*3) # 리스트를 세 번 반복 한다.
print(len(a+b))
print(len(a*3))

[1, 2, 3, '4', '5', '6']
[1, 2, 3, 1, 2, 3, 1, 2, 3]
6
9

In [35]:
a = [1,2,3]
a[1] = 7
print(a)
del a[1]
print(a)

[1, 7, 3]
[1, 3]

In [36]:
a = []
a.append([1])
print(a)

[[1]]

In [40]:
a [1,2,3,4,5]
#?? a.reverse()
print(a)

TypeError: ignored

In [42]:
a = [1,2,3,4]
a.insert(2,11)
print(a)

[1, 2, 11, 3, 4]

In [49]:
a = { 'a': 1, 'b' :2, 3 : 'abc'} #딕셔너리 자료형. key에는 변하지 않는 값, value에는 변동가능/변동 불가능 값 모두 적는다.
print(a['a'])  # 굳이 순서가 없다
print(a[3]) # key를 불러야 값이 호출 된다.

1
abc

In [50]:
#set 자료형은 집합이다. ???

In [52]:
for i in range(0,5): # 0부터 4까지  반복한다.
  print(math.pow(i,i))

1.0
1.0
4.0
27.0
256.0

In [ ]:
# if+or, elif+or, else: 사용한다